@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
}

@media (max-width:  993px) {
    .container {
        width: 720px;
    }
}

@media (max-width:  768px) {
    .container {
        width: 550px;
    }
}

@media (max-width:  576px) {
    .container {
        width: 100%;
    }
    .logo {
        img {
            min-height: 50vh;
            padding-top: 30px;
        }
    }
    .header {
        height: 40px;
        &__logo {
            img{
                margin-top: 8px;
                width: 24px;
                height: 24px;
            }
        }
        .nav {
            width: 200px;
            height: 40px;
            &-mini {
                width: 50px;
            }
            &__list {
                height: 40px;

            }
        }
    }
    .order {
        padding-top: 100px;
        padding-bottom: 25px;
        &__form {
            width: 400px;
            &-radio {
                width: 400px;
            }
        }
    }
}

@media (max-width:  440px) {
    .container {
        width: 100%;
    }
    .logo {
        img {
            min-height: 25vh;
            padding-top: 30px;
        }
    }
    .header {
        // width: 320px;
        height: 40px;
        &__wrapper {
        width: 320px;
        display: flex;
        justify-content: left;
    }
        &__logo {
            img{
                margin-top: 11px;
                width: 16px;
                height: 16px;
            }
        }
        .nav {
            width: 200px;
            height: 40px;
            &-mini {
                width: 25px;
                
            }
            &__list {
                margin-left: 10px;
                height: 40px;
                justify-content: left;
                gap: 5px;
                font-size: 12px;
            }
        }
    }
    .order {
        &__form {
            width: 320px;
            &-radio {
                flex-direction: column;
                justify-content: center;
                margin-left: 50px;
                width: 320px;
            }
        }
    }
    .shop {
        background-color: rgb(163, 97, 97);
        &-wrapper {
            padding-top: 50px;
        }
        &__title {
            text-align: center;
            font-size: 24px;
        }
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__card {
            margin-top: 50px;
            &-wrapper {
                padding: 10px;
            }
            width: 300px;
            border: 2px solid black;
            border-radius: 16px;
            &-photo {
                img {
                    width: 100%;
                    border-radius: 16px;
                    transition: 1s all;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            &-title {
                text-align: center;
                margin-top: 10px;
            }
            &-descr {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}